@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap');

@theme {
  --color-gold-light: #F3E5AB;
  --color-gold: #D4AF37;
  --color-gold-dark: #AA8C2C;
  --color-dark: #111111;
  --color-dark-light: #222222;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-gold);
  color: var(--color-dark);
}